Repository OM4/CopyCraft, pull requests merged in 2023-01, with the labels that each got.

#2 Add E2E Test Suite
  .distignore
  .github/workflows/e2e-tests.yml
  .gitignore
  .wp-env.json
  Gruntfile.js
  jest.config.js
  package-lock.json
  package.json
  tests/e2e/README.md
  tests/e2e/admin.test.js
  tests/e2e/plugins.test.js
  tests/e2e/products.test.js
  tests/wp-env/initialize.sh
Labels: Component: Tests

#5 Add Settings Screen & PHPCS
  .distignore
  composer.json
  composer.lock
  copycraft.php
  includes/Settings/Data.php
  includes/Settings/Register.php
  includes/Settings/Screen.php
  includes/autoload.php
  phpcs.xml
  tests/e2e/settings.test.js
Labels: Component: Settings

#8 Fix initialise script for GitHub Actions
  .github/workflows/tests.yml
  .wp-env.json
  package.json
  tests/e2e/README.md
  tests/wp-env/initialise.sh
Labels: Component: Tests

#14 Replace `expect-puppeteer` matchers with own
  jest.config.js
  tests/e2e/README.md
  tests/e2e/admin.test.js
  tests/e2e/plugins.test.js
  tests/e2e/products.test.js
  tests/expect-matchers.js
  tests/setup.js
Labels: bug, Component: Tests
